.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 400px;
  padding: 0 8px;
}

.full-width {
  width: 100%;
}

/* Responsive styles */
@media screen and (max-width: 599px) {
  .dialog-content {
    min-width: unset;
  }
}
